<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product List</title>
</head>
<body>
    <h1>Product List</h1>
    <table>
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Amount</th>
            <th>Price</th>
            <th>Active</th>
            <th></th>
            <th></th>
        </tr>
        {% for product in products %}
            <tr>
                <td>{{ product.title }}</td>
                <td>{{ product.description }}</td>
                <td>{{ product.amount }}</td>
                <td>{{ product.price }}</td>
                <td>{% if product.active %}Active{% else %}Inactive{% endif %}</td>
                <td><a href="{% url 'update_product' product.pk %}">Edit</a></td>
                <td><a href="{% url 'delete_product' product.pk %}">Delete</a></td>
            </tr>
        {% endfor %}
        <tr>
            <td><a href="{% url 'create_product' %}">Create new product</a></td>
        </tr>
        <tr>
            <td><a href="{% url 'pages' %}">Main page</a></td>
        </tr>
    </table>
</body>
</html>
